@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');




:root{
    --grid-rows: 1;
    --grid-columns: 1;
    --color-background: white;
    --color-border: gainsboro;
}

*,
*::before,
*::after{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    
    
}
body{
    height: 100vh;
    background-color: #F6F8ED;
    font-family: 'Roboto', sans-serif;
    

    

}

.container{
    display: flex;
    height: 90vh;
    width: 100vw;
    flex-direction: row;
    align-items: center;
    column-gap: 20px;
    justify-content: space-around;
}


.grid-container{
    display:grid;
    
    width: 544px;
    height: 544px;
    /*
    height: 544px;
    width: 544px;
    */
    align-items: center;
    background-color: var(--color-background);
    margin: 0;
    padding: 0;
    /*border-left: 1px solid gainsboro;
    border-top:1px solid gainsboro;
    rgb(248, 245, 197)*/
    /*border: 1px solid gainsboro;*/
    
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    /*
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-columns), 1fr);
    */
}

.grid-cells{
    /*border: 1px solid gainsboro;*/
    
    aspect-ratio: 1;
    
    
    
}


.side{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    
    height: 80vh;
    width: 250px;
    gap: 8px;
    
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    background-color: #B2AABB;
    
    
    
   
    
}

#color-pick{
    margin-left: 20px;
}


.btn{
    margin: 10px;
    padding:10px 15px;
    width: 90px;
    border-radius: 4px;
    
}
.rainbow,
.single-color{
    height:60px
}

.gray-border{
    border-bottom: 1px solid var(--color-border);
    border-right: 1px solid  var(--color-border);
}



.tools{
    
    position: relative;
    width: 36vw;
    justify-content: center;
    align-items: center;
    
    
}


.eraser{
    align-items: flex-end;
}
.clear-container{
    
    height: 10vh;
    width: 15vw;
    margin-left: 5%;
    margin-top: 5%;
    border-radius: 5px;
    width: 225px;
    position: absolute;
    top: 0;
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;

    background-color: #f6f8ed62
}

.inline-button{
    display: flex;
    align-items: center;
    
}
.section{
    display: flex;
    width: 225px;
    margin-left: 5%;
    border-radius: 5px;
    background-color: #f6f8ed62;
    
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
    
}
.range-container{
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    
    padding-top: 5px;
    
    
}

.range-container label{
   
    margin-left: 3%;

}



.color-picker{
    margin-bottom: 20px;
}
#color-pick{
    width: 100px;
}

.colorContainer{
    justify-content: center;
    color: white;
    padding: 2%;
}
.range-slider{
    display: flex;
    margin-left: 3%;
    gap: 13px;
}



label{
    color: white;
    font-weight: 700;
}

.header-container{
    font-size: 30px;
    /*background-color: #FFF89A;*/
    
    font-weight: 400;
    margin-left: 10px;
    width: 98vw;
    display: flex;
    flex: 1;
    border-bottom: 2px solid #F8F9F1;
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
}


.right-side{
    
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    
    height: 80vh;
    width: 250px;
    gap: 8px;
    
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    background-color: #B2AABB;
    
}






