@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');




:root{
    --grid-rows: 1;
    --grid-columns: 1;
    --color-background: white;
    --color-border: gainsboro;
}

*,
*::before,
*::after{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    
    
}
body{
   
    
    width: 100vw;
    height: 100vh;
    background-color: #F6F8ED;
    font-family: 'Roboto', sans-serif;
    

    

}

.container{
    display: flex;
    height: 90vh;
    width: 100vw;
    flex-direction: row;
    align-items: center;
    column-gap: 20px;
    justify-content: space-around
}


.grid-container{
    display:grid;
    width: 544px;
    height: 544px;
    align-items: center;
    background-color: var(--color-background);
    margin: 0;
    padding: 0;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.grid-cells{
   
    aspect-ratio: 1;
    
}



#color-pick{
    margin-left: 20px;
}



.pressed{
    
    background-color: #77bbaa8c;
    color: white;

}


.rainbow,
.single-color{
    height:60px
}

.gray-border{
    border-bottom: 1px solid var(--color-border);
    border-right: 1px solid  var(--color-border);
}


.eraser{
    align-items: flex-end;
}
.clear-container{
    
    height: 10vh;
    width: 15vw;
    margin-left: 5%;
    margin-top: 5%;
    border-radius: 5px;
    width: 225px;
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
    background-color: #f6f8ed62
}

.inline-button{
    display: flex;
    align-items: center;
    
}
.side{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding: 8px 0 8px 0;
    height: 80vh;
    width: 250px;
    gap: 8px;
    
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    background-color: #B2AABB;
    
}
.section{
    display: flex;
    align-self: center;
    width: 90%;
    min-height: 40px;
    border-radius: 5px;
    background-color: #f6f8ed62;
    justify-content: center;
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
    
}
.range-container{
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    padding: 5px 10px;   
}

.range-container label{
   
    margin-left: 3%;
    

}



.color-picker{
    margin-bottom: 20px;
}
#color-pick{
    width: 35%;
}

.colorContainer{
    justify-content: center;
    color: white;
    padding: 2%;
}
.range-slider{
    display: flex;
    margin-left: 3%;
    gap: 13px;
}

.range-value{
    font-weight: 580;
    color: black;
}


label{
    color: white;
    font-weight: 700;
}

.header-container{
    font-size: 30px;
    
    
    font-weight: 400;
    margin-left: 10px;
    width: 98vw;
    display: flex;
    flex: 1;
    border-bottom: 2px solid #F8F9F1;
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
}



.section .centeredBtn{
    margin-left: auto;
    margin-right: auto;
    
}

.season{
    display: flex;
    gap: 10px;
    
    padding: 12px 5px;

    
}

.color{
    
    width: 28px;
    height: 28px;
    border: 2px solid rgba(0, 0, 0, 0.096);
    border-radius: 14px;
    
}

.scale-color{
    transform: scale(1.2);
}

.season-name{
    display: flex;
    padding: 2px 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    color: white;
    font-weight: 1000;
    border-bottom: 2px solid #30302e17;
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
}





.btn{
    appearance: none;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: #24292E;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 6px 16px;
    position: relative;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    margin: 10px;
    width: 40%;
  }
  
  
  .btn:hover {
    background-color: #F3F4F6;
    text-decoration: none;
    transition-duration: 0.1s;
  }
  
  
  .btn:disabled {
    background-color: #FAFBFC;
    border-color: rgba(27, 31, 35, 0.15);
    color: #959DA5;
    cursor: default;
  }
  
  .btn:active {
    background-color: #EDEFF2;
    box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
    transition: none 0s;
  }
  
  .btn:focus {
    outline: 1px transparent;
  }
  
  
  .btn:before {
    display: none;
  }
  
  .btn:-webkit-details-marker {
    display: none;

  }

  .wrap{
      flex-wrap: wrap;
  }



  @media only screen and (min-height: 900px) {
    .side {
      height: 65vh;
    }
  }

  @media only screen and (min-height: 1000px) {
    .side {
      height: 60vh;
    }
  }

  @media only screen and (min-width: 1500px) {
    .grid-container{
        width: 600px;
        height: 600px;
    }
  }
  @media only screen and (min-width: 1900px) {
    .grid-container{
        width: 650px;
        height: 650px;
    }
  }


  @media only screen and (max-width: 1023px) {
    
    .container{
        flex-direction: row;
        padding-top: 20px;
        position: relative;
        
    }

    .side{
        top: 95vh;
        right: 52vw;
        position: absolute;
    }
    .season-panel{
        left: 52vw;
    }
    
  }
  @media only screen and (max-width: 600px) {
    .container{
        align-items: flex-start;
        padding: 10px;
        
    }
    .grid-container{
        /*margin-top: -180px;*/
        width: 450px;
        height: 450px;
    }
    .side{
        top:65%;
    }
    
  }

  @media only screen and (max-width: 540px) {
    
    .grid-container{
       /* margin-top: -200px;*/
        width: 450px;
        height: 450px;
    }
    .side{
        top:73vh;
        right: 51vw;
        width: 45vw;
        padding: 0;
        margin: 0;
    }
    .season-panel{
        left: 51vw;
    }
    
  }

  @media only screen and (max-width: 450px) {
   
    .grid-container{
       /* margin-top: -350px;*/
        width: 370px;
        height: 370px;
    }
    .side{
        top:47vh;
        right: 43vw;
        width: 53vw;
        padding: 8px 0 ;
        margin: 0;
        height: 40vh;
    }
    .season-panel{
        left: 60vw;
        width:35vw ;
        padding: 0;
        height: 40vh;
        align-items: center;
        
    }
    .season{
        padding: 3px;
    }
    
    .section{
        height: 12px;
    }
    .season.section{
        padding: 5px 0 10px 0 ;
        margin-top: -10px;

    }
    .color{
        width: 12px;
        height: 12px;
    }
    .btn{
        max-height: 25px;
        font-size: 10px;
        padding: 3px 5px;
        
        margin: auto;
    }
    .season-name{
        font-size: 10px;
    }
    
    label{
        font-size: 12px;
    }
    .range-value{
        font-size: 8px;
    }
    .range-container{
        justify-content: center;
    }

    .range-slider{
        gap: 4px;
    }
    #color-pick{
        width: 20%;
        height: 65%;
    }

    @media only screen and (max-width: 380px) {
        .grid-container{
            width: 300px;
            height: 300px;
        }
        .side{
            height: 52vh;
            top: 50vh;
        }
        .range-value{
            font-size: 8px;
        }
        .range-container{
            padding-right: 0;
        }

    }
    
  }
  